<div id="headerArea">
  <div id="header">
    <pre class="header-raccoon"> /\_/\
( {{ face }} )
/|   |\</pre>
    <div class="header-title-block">
      <h1 class="site-title glitch" data-text="{{ site.title }}">{{ site.title }}</h1>
      <p class="tagline">{{ site.tagline }}</p>
    </div>
  </div>
  {% include "partials/nav.njk" %}
</div>
